.utility-menu .btn {
  color: #fff;
}

.utility-menu .btn:hover,
.utility-menu .btn:focus,
.utility-menu .btn:active {
  background: #8cc63f;
  border-color: #8cc63f;
}

.double-bounce1, .double-bounce2 {
	background-color: #8cc63f;
}

input[type="submit"] {
	border-color: #8cc63f;
	color: #8cc63f;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	background: #8cc63f;
	color: #fff;
}

.bg-primary {
	background-color: #8cc63f;
}

.link-text {
	color: #8cc63f;
	border-color: #8cc63f;
}

.link-text:hover,
.link-text:focus {
	color: #73ad27;
	border-color: #73ad27;
}

#MemberLoginForm_LoginForm input[type="submit"], #LostPasswordForm_lostPasswordForm input[type="submit"] {
	border-color: #8cc63f;
	background-color: #8cc63f;
}