@charset "UTF-8";

@font-face {
  font-family: "petrotec";
  src:url("fonts/petrotec.eot");
  src:url("fonts/petrotec.eot?#iefix") format("embedded-opentype"),
    url("fonts/petrotec.woff") format("woff"),
    url("fonts/petrotec.ttf") format("truetype"),
    url("fonts/petrotec.svg#petrotec") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "petrotec" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "petrotec" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before {
  content: "\61";
}
.icon-chat:before {
  content: "\62";
}
.icon-wrench:before {
  content: "\63";
}
.icon-folder-o:before {
  content: "\64";
}
.icon-folder-open-o:before {
  content: "\65";
}
